[submodule "Libraries/sharp"]
	path = Libraries/sharp
	url = https://github.com/lovell/sharp
[submodule "Libraries/libvips"]
	path = Libraries/libvips
	url = https://github.com/libvips/libvips
[submodule "Hardware/Cameras/thermal-camera"]
	path = Hardware/Cameras/thermal-camera
	url = https://github.com/themainframe/thermal-camera
[submodule "Examples/Streaming/picam"]
	path = Examples/Streaming/picam
	url = https://github.com/iizukanao/picam
[submodule "Hardware/Cameras/v4l2-framebuffer"]
	path = Hardware/Cameras/v4l2-framebuffer
	url = https://github.com/lincolnhard/v4l2-framebuffer
[submodule "Examples/Streaming/RPiCameraViewer"]
	path = Examples/Streaming/RPiCameraViewer
	url = https://github.com/ShawnBaker/RPiCameraViewer
[submodule "Examples/OpenCV/JetsonVision"]
	path = Examples/OpenCV/JetsonVision
	url = https://github.com/Paradox2102/JetsonVision
[submodule "Libraries/SDL-Lightweight-Image-Processing-Library"]
	path = Libraries/SDL-Lightweight-Image-Processing-Library
	url = https://github.com/dfalkcreative/SDL-Lightweight-Image-Processing-Library
[submodule "Examples/Streaming/kurento-rtsp2webrtc"]
	path = Examples/Streaming/kurento-rtsp2webrtc
	url = https://github.com/lulop-k/kurento-rtsp2webrtc
[submodule "Hardware/GPUs/sfm"]
	path = Hardware/GPUs/sfm
	url = https://github.com/bzobl/sfm
[submodule "Hardware/Cameras/Pi-Vision"]
	path = Hardware/Cameras/Pi-Vision
	url = https://github.com/local-vision/Pi-Vision
[submodule "Hardware/Cameras/Linux-tiscamera-Programming-Samples"]
	path = Hardware/Cameras/Linux-tiscamera-Programming-Samples
	url = https://github.com/TheImagingSource/Linux-tiscamera-Programming-Samples
[submodule "Hardware/Cameras/PiCameraApp"]
	path = Hardware/Cameras/PiCameraApp
	url = https://github.com/Billwilliams1952/PiCameraApp
[submodule "Libraries/medpy"]
	path = Libraries/medpy
	url = https://github.com/loli/medpy
[submodule "Hardware/Cameras/tiscamera"]
	path = Hardware/Cameras/tiscamera
	url = https://github.com/TheImagingSource/tiscamera
[submodule "Libraries/vpp"]
	path = Libraries/vpp
	url = https://github.com/matt-42/vpp
[submodule "Examples/Streaming/pistreaming"]
	path = Examples/Streaming/pistreaming
	url = https://github.com/waveform80/pistreaming
[submodule "Books/Deep-Learning-for-Computer-Vision"]
	path = Books/Deep-Learning-for-Computer-Vision
	url = https://github.com/PacktPublishing/Deep-Learning-for-Computer-Vision
[submodule "Hardware/GPUs/jetsonjs"]
	path = Hardware/GPUs/jetsonjs
	url = https://github.com/jeeliz/jetsonjs
[submodule "Hardware/Cameras/jeelizExposureController"]
	path = Hardware/Cameras/jeelizExposureController
	url = https://github.com/jeeliz/jeelizExposureController
[submodule "Libraries/ImageAI"]
	path = Libraries/ImageAI
	url = https://github.com/OlafenwaMoses/ImageAI
[submodule "Examples/Streaming/TCP_Vision"]
	path = Examples/Streaming/TCP_Vision
	url = https://github.com/zcsd/TCP_Vision
[submodule "Examples/SLAM/DynSLAM"]
	path = Examples/SLAM/DynSLAM
	url = https://github.com/AndreiBarsan/DynSLAM
[submodule "Projects/Jevois/samplepythonmodule"]
	path = Projects/Jevois/samplepythonmodule
	url = https://github.com/jevois/samplepythonmodule
[submodule "Projects/Jevois/jevoisextra"]
	path = Projects/Jevois/jevoisextra
	url = https://github.com/jevois/jevoisextra
[submodule "Projects/Jevois/jevois"]
	path = Projects/Jevois/jevois
	url = https://github.com/jevois/jevois
[submodule "Projects/Jevois/jevois-sdk"]
	path = Projects/Jevois/jevois-sdk
	url = https://github.com/jevois/jevois-sdk
[submodule "Projects/Jevois/jevoisbase"]
	path = Projects/Jevois/jevoisbase
	url = https://github.com/jevois/jevoisbase
[submodule "Projects/Jevois/jevois-tutorials"]
	path = Projects/Jevois/jevois-tutorials
	url = https://github.com/jevois/jevois-tutorials
[submodule "Projects/Jevois/jevois-inventor"]
	path = Projects/Jevois/jevois-inventor
	url = https://github.com/jevois/jevois-inventor
[submodule "Projects/Jevois/samplemodule"]
	path = Projects/Jevois/samplemodule
	url = https://github.com/jevois/samplemodule
[submodule "Hardware/Cameras/Charmedlabs/pixy2"]
	path = Hardware/Cameras/Charmedlabs/pixy2
	url = https://github.com/charmedlabs/pixy2
[submodule "Hardware/Cameras/Charmedlabs/pixy"]
	path = Hardware/Cameras/Charmedlabs/pixy
	url = https://github.com/charmedlabs/pixy
[submodule "Hardware/Cameras/OpenMV/openmv"]
	path = Hardware/Cameras/OpenMV/openmv
	url = https://github.com/openmv/openmv
[submodule "Hardware/Cameras/OpenMV/openmv-projects"]
	path = Hardware/Cameras/OpenMV/openmv-projects
	url = https://github.com/openmv/openmv-projects
[submodule "Hardware/Cameras/OpenMV/openmv-boards"]
	path = Hardware/Cameras/OpenMV/openmv-boards
	url = https://github.com/openmv/openmv-boards
[submodule "Hardware/Cameras/OpenMV/openmv-media"]
	path = Hardware/Cameras/OpenMV/openmv-media
	url = https://github.com/openmv/openmv-media
[submodule "Hardware/Cameras/OpenMV/openmv-ide"]
	path = Hardware/Cameras/OpenMV/openmv-ide
	url = https://github.com/openmv/openmv-ide
[submodule "Hardware/Cameras/OpenMV/openmv-doc"]
	path = Hardware/Cameras/OpenMV/openmv-doc
	url = https://github.com/openmv/openmv-doc
[submodule "Hardware/Cameras/Stereolabs/zed-examples"]
	path = Hardware/Cameras/Stereolabs/zed-examples
	url = https://github.com/stereolabs/zed-examples
[submodule "Hardware/Cameras/Stereolabs/zed-python-api"]
	path = Hardware/Cameras/Stereolabs/zed-python-api
	url = https://github.com/stereolabs/zed-python-api
[submodule "Hardware/Cameras/Stereolabs/zed-yolo"]
	path = Hardware/Cameras/Stereolabs/zed-yolo
	url = https://github.com/stereolabs/zed-yolo
[submodule "Hardware/Cameras/Stereolabs/zed-tensorflow"]
	path = Hardware/Cameras/Stereolabs/zed-tensorflow
	url = https://github.com/stereolabs/zed-tensorflow
[submodule "Hardware/Cameras/Stereolabs/zed-docker"]
	path = Hardware/Cameras/Stereolabs/zed-docker
	url = https://github.com/stereolabs/zed-docker
[submodule "Hardware/Cameras/Stereolabs/zed-opencv"]
	path = Hardware/Cameras/Stereolabs/zed-opencv
	url = https://github.com/stereolabs/zed-opencv
[submodule "Hardware/Cameras/Stereolabs/zed-multi-camera"]
	path = Hardware/Cameras/Stereolabs/zed-multi-camera
	url = https://github.com/stereolabs/zed-multi-camera
[submodule "Hardware/Cameras/Stereolabs/zed-opengl"]
	path = Hardware/Cameras/Stereolabs/zed-opengl
	url = https://github.com/stereolabs/zed-opengl
[submodule "Resources/event-based_vision_resources"]
	path = Resources/event-based_vision_resources
	url = https://github.com/uzh-rpg/event-based_vision_resources
[submodule "Projects/SmartCam/smart-cam"]
	path = Projects/SmartCam/smart-cam
	url = https://github.com/smart-cam/smart-cam
[submodule "Projects/SmartCam/smart-cam.github.io"]
	path = Projects/SmartCam/smart-cam.github.io
	url = https://github.com/smart-cam/smart-cam.github.io
[submodule "Books/Mastering-OpenCV-With-Practical-Computer-Vision-Projects"]
	path = Books/Mastering-OpenCV-With-Practical-Computer-Vision-Projects
	url = https://github.com/MasteringOpenCV/code
[submodule "Books/Hands-On-GPU-Programming-with-Python-and-CUDA"]
	path = Books/Hands-On-GPU-Programming-with-Python-and-CUDA
	url = https://github.com/PacktPublishing/Hands-On-GPU-Programming-with-Python-and-CUDA
[submodule "Books/Hands-On-GPU-Accelerated-Computer-Vision-with-OpenCV-and-CUDA"]
	path = Books/Hands-On-GPU-Accelerated-Computer-Vision-with-OpenCV-and-CUDA
	url = https://github.com/PacktPublishing/Hands-On-GPU-Accelerated-Computer-Vision-with-OpenCV-and-CUDA
[submodule "Labelling-Annotation/cvat"]
	path = Labelling-Annotation/cvat
	url = https://github.com/opencv/cvat
[submodule "Labelling-Annotation/VoTT"]
	path = Labelling-Annotation/VoTT
	url = https://github.com/Microsoft/VoTT
[submodule "Labelling-Annotation/BeaverDam"]
	path = Labelling-Annotation/BeaverDam
	url = https://github.com/antingshen/BeaverDam
[submodule "Labelling-Annotation/sloth"]
	path = Labelling-Annotation/sloth
	url = https://github.com/cvhciKIT/sloth
[submodule "Examples/Streaming/v4l2rtspserver"]
	path = Examples/Streaming/v4l2rtspserver
	url = https://github.com/mpromonet/v4l2rtspserver
[submodule "Examples/Streaming/webrtc-streamer"]
	path = Examples/Streaming/webrtc-streamer
	url = https://github.com/mpromonet/webrtc-streamer
[submodule "Examples/Streaming/gst-rtsp-server"]
	path = Examples/Streaming/gst-rtsp-server
	url = https://github.com/GStreamer/gst-rtsp-server
[submodule "Examples/Streaming/webrtc-streamer-html"]
	path = Examples/Streaming/webrtc-streamer-html
	url = https://github.com/mpromonet/webrtc-streamer-html
[submodule "Examples/Streaming/rtsp-video-server"]
	path = Examples/Streaming/rtsp-video-server
	url = https://github.com/ramilsafnab1996/rtsp-video-server
[submodule "Examples/Streaming/Qt-video-streaming"]
	path = Examples/Streaming/Qt-video-streaming
	url = https://github.com/ramilsafnab1996/Qt-video-streaming
[submodule "Examples/Streaming/camera-stream-receiver"]
	path = Examples/Streaming/camera-stream-receiver
	url = https://github.com/litovel-minicup/camera-stream-receiver
[submodule "Examples/Streaming/Video-Streaming-with-Flask"]
	path = Examples/Streaming/Video-Streaming-with-Flask
	url = https://github.com/Mjrovai/Video-Streaming-with-Flask
[submodule "Examples/Streaming/tfObjWebrtc"]
	path = Examples/Streaming/tfObjWebrtc
	url = https://github.com/webrtcHacks/tfObjWebrtc
[submodule "Examples/Streaming/ip-camera-server"]
	path = Examples/Streaming/ip-camera-server
	url = https://github.com/angus-ai/ip-camera-server
[submodule "Examples/Streaming/websocket-kinect"]
	path = Examples/Streaming/websocket-kinect
	url = https://github.com/jawj/websocket-kinect
[submodule "Examples/Streaming/JpegRtspCamera"]
	path = Examples/Streaming/JpegRtspCamera
	url = https://github.com/petergaal/JpegRtspCamera
[submodule "Examples/Streaming/AvCapture"]
	path = Examples/Streaming/AvCapture
	url = https://github.com/jas0n1ee/AvCapture
[submodule "Examples/Streaming/video_streaming_with_flask_example"]
	path = Examples/Streaming/video_streaming_with_flask_example
	url = https://github.com/log0/video_streaming_with_flask_example
[submodule "Examples/Streaming/opencv-rtsp-motion-detection"]
	path = Examples/Streaming/opencv-rtsp-motion-detection
	url = https://github.com/markuscraig/opencv-rtsp-motion-detection
[submodule "Examples/Streaming/RTSP_stream_server"]
	path = Examples/Streaming/RTSP_stream_server
	url = https://github.com/haoweilo/RTSP_stream_server
[submodule "Examples/Streaming/RTSPLiveClient"]
	path = Examples/Streaming/RTSPLiveClient
	url = https://github.com/ramilsafnab1996/RTSPLiveClient
[submodule "Examples/Streaming/FFmpegRTSPServer"]
	path = Examples/Streaming/FFmpegRTSPServer
	url = https://github.com/MESAI/FFmpegRTSPServer
[submodule "Examples/Streaming/v4l2rtspclient"]
	path = Examples/Streaming/v4l2rtspclient
	url = https://github.com/mpromonet/v4l2rtspclient
